<h1>Signals</h1>

<h2>example</h2>
<!-- é necessário chamar o signal em uma função ao invés da propriedade-->
<p>{{ firstName() }} {{ lastName() }}</p>
<p>full name: {{ fullName() }}</p>

@for (item of array(); track item) {

<li>{{ item }}</li>

}

<br />
<button (click)="updateArray()">Update Array</button>

<br />

<h2>Tasks</h2>
<p>Rxjs to signal</p>

@for (item of getListTask(); track item) {

<p>{{ item | json }}</p>

}@empty {

<p>Loading...</p>

}

<br />
@if(getTaskId(); as data){
<p>id: {{ data.id }}</p>
<p>title: {{ data.title }}</p>
}

<button (click)="createTask()">Create</button>

<br />
<br />

<input type="text" #updateId placeholder="update id" />
<br />
<input type="text" #updateTitle placeholder="update title" />
<br />
<button (click)="taskUpdate(updateId.value, updateTitle.value)">update</button>
