<h1>Control Flow</h1>

<h2>If and Else</h2>

@if (isTrue) {

<p>Condição verdadeira</p>

} @else {

<p>Condição Falsa</p>

}

<br />

@if (loadingData$ | async; as data) {

{{ data }}

} @else { Loading... }

<br />

<h2>For</h2>

@for (item of loadingData$ | async; track $index) {

<li>{{ item }}</li>

}

<h2>For and Empty</h2>

@for (item of emptyArray$ | async; track $index) {

<li>{{ item }}</li>

} @empty {

<p>empty array</p>

<h2>Switch Case</h2>

} @switch (condition) {

  @case (true) {
    <p>true</p>
  }

  @case (false) {
    <p>false</p>
  }

  @default {
    <p>Undefined condition</p>
  }
}

<button (click)="goTo('deferrables')">See Deferrables</button>
<br>
<br>
<button (click)="goTo('signals')" >see Signals</button>
<br>
<br>
<button (click)="goTo('parents')">see input and output with signals</button>
